@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100&display=swap");
body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Display", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: blanchedalmond;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(248, 222, 183);
}

.App {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./media/4065770.png");
}
